.advance_button{
   
    margin-left: 6em;
    width: max-content;
    height: max-content;
    background-color: white; 
}


.search{ 
    
    flex-direction: column;
    display: flex;
}

.title_bar{
    background-clip:content-box;
    background-color: lavender;
    width:100%;
    height:8em;
    font-size: 1.5em;
    text-align: center;
    
    
    
    
}

.search_use{
    border-radius: 2em;
    padding: 10em;
    width: 36em;
    height: 1em;
    background-color: white;
    margin-top: -4em;
    flex-direction: row;
    
    box-shadow: 0em 0.2em 0.2em rgb(160, 160, 160); 
    
    
    
}

.dictionary{
    margin-top:-8.3em;
    margin-right: 11em;
    
    

}

.dictionary ::-webkit-scrollbar{
    display:none;
    
}

.one_word{
    font-size: large;
    text-align: center;
    
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    width:22em;
    height: 2em;
    background-color:white;
    
    
}



