*{
    margin: auto;
    
    
}



.button_group .back{
    background-color:rgb(173, 216, 230);
    box-shadow: 0em 0.2em 0.2em rgb(160, 160, 160);
    justify-content: right;
    margin-right: 1em;
    width: 8.5em;
   

}
.button_group .submit{
    margin-left: 1em;
    width: 8.5em;
    background-color:rgb(173, 216, 230);
    box-shadow: 0em 0.2em 0.2em rgb(160, 160, 160);
}

.button_group{
    display: flex;
    
    flex-direction: row;
    width: 68%;
    margin: 2em auto;
    
    
}

.signup_box {
    margin-top: auto;
    background-color: aliceblue;
    width:25em;
    height: 25em;
    border-radius: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0em 0.4em 0.4em rgb(160, 160, 160); 
    margin-top: 2em;
}

.page {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
   
}



input{

    text-align: center;
    border-color: azure;
    height: 1.6em;
    width: 50%;
}