.header {
    padding: 8px;
    background-color: rgb(22, 202, 67);
    box-shadow: 0px 0px 10px rgb(10, 224, 28);
    position: 50,50;
}

.name {
    position: fixed;
    top: 100px;
    left: 80px;
}

.gender {
    position: fixed;
    top: 180px;
    left: 80px;
}

.age {
    position: fixed;
    top: 260px;
    left: 80px;
}

.dateOfBirth {
    position: fixed;
    top: 340px;
    left: 80px;
}

.programOfStudy {
    position: fixed;
    top: 420px;
    left: 80px;
}

.schoolEmail {
    position: fixed;
    top: 500px;
    left: 80px;
}

.fieldsOfInterests {
    position: fixed;
    top: 580px;
    left: 80px;
}

.profileHeader {
    color: black;
    font-size: x-large;
}

.profileContent{
    color: black;
    font-size: large;
    font-style: normal;
}

.txtInput {
    position: relative;
    top: 5px;
    left: 25px;
}

.cancelButton {
    position: relative;
    left: 100px;
}

.saveButton {
    position: relative;
    left: 150px;
}

.signoutButton {
    position: fixed;
    width: 100px;
    left: 910px;
    top: 750px;
}
