.btn {
    height: 40px;
    padding: 5px;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-decoration: none
}

.btn-green { background-color: green; }

.btn-blue { background-color: blue; }

.btn-orange { background-color: orange; }

.btn-red { background-color: red; }
