.boxCV {
    
    width: 90%;
    size: auto;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 0em 0.4em 0.4em rgb(160, 160, 160); 
    margin-top: 2em;
    opacity: 100%;
}

.buttonsCV {
    display: flex;
    flex-direction: row;
    width: 58%;
    margin: 1.5em auto;
    
    top: -5%;   
}

.courseHeaderCV {
    display: flex;
    flex-direction: row;
    text-align: left;
    position: relative;
    top: 0%;
    left: 0%;
}

.commentsDivCV {
    
    width: 95%;
    size: auto;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0em 0.4em 0.4em rgb(160, 160, 160); 
    margin-top: 5em;
    opacity: 100%;
    position: relative;
}

.commentDivCV {
   
    width: 95%;
    size: auto;
    border-color: black;
    border-radius: 1em;
    opacity: 100%;
    position: relative;
    margin-bottom: 1.2em;
    box-shadow: 0.2em 0.2em 0.2em rgb(160, 160, 160); 
}

.likeButtonCV {
    border: none;
    background-color: rgb(12, 182, 12);
    color: white;
}
.dislikeButtonCV {
    border: none;
    background-color: rgb(203, 42, 42);
    color: white;
}

.replyButtonCV {
    border: none;
    background-color: rgb(118, 18, 185);
    color: rgb(255, 255, 255);
}

.viewRepliesButtonCV {
    border: none;
    background-color: rgb(206, 134, 18);
    color: rgb(255, 255, 255);
}

.pageButtonsCV {
    margin-bottom: 1.5em;
    margin: auto, auto;
}
